.blog-detail__section {
	width: 100%;
	padding: 10% 0% 5% 0%;

	@media (min-width: 1700px) {
		padding: 3% 0%;
	}

	.blog-detail-container {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		gap: 60px;

		@media (max-width: 800px) {
			gap: 30px;
		}

		.__dark-color {
			color: #00235A;

			.__section-category {
				font-size: 22px;

				@media (min-width: 1700px) {
					font-size: 26px;
				}

				@media (max-width: 600px) {
					font-size: 16px;
				}

				@media (max-width: 420px) {
					font-size: 15px;
				}
			}

			.__section-title {
				font-size: 32px;

				@media (min-width: 1400px) {
					font-size: 40px;
				}

				@media (min-width: 1700px) {
					font-size: 50px;
				}

				@media (max-width: 800px) {
					font-size: 25px;
				}

				@media (max-width: 600px) {
					font-size: 22px;
				}

				@media (max-width: 425px) {
					font-size: 18px;
				}
			}

			.__seciton-paragraph {

				@media (min-width: 1400px) {
					font-size: 25px;
					width: 85%;
				}

				@media (min-width: 1700px) {
					font-size: 32px;
				}
			}
		}
	}

	.post__image {
		width: 100%;
	}

	.__post-content {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;	
		text-align: start;
		gap: 20px;

		@media (max-width: 800px) {
			gap: 0px;
		}

		p {
			font-size: 18px;
			width: 85%;
			margin: 10px auto;

			@media (min-width: 1400px) {
				font-size: 25px;
			}

			@media (min-width: 1700px) {
				font-size: 32px;
			}

			@media (max-width: 700px) {
				font-size: 16px;
				width: 90%;
			}

			@media (max-width: 500px) {
				width: 95%;
			}
		}

		blockquote {
			margin: 50px auto;
			border-left: 3px solid #F64F59;
			width: 80%;
			font-style: normal;

			@media (max-width: 800px) {
				margin: 30px auto;
			}

			@media (max-width: 700px) {
				width: 85%;
			}

			@media (max-width: 500px) {
				width: 90%;
			}

			p {
				font-size: 24px;
				width: 100%;
				padding-left: 15px;
				margin: 0;

				@media (min-width: 1400px) {
					font-size: 28px;
				}

				@media (min-width: 1700px) {
					font-size: 34px;
				}

				@media (max-width: 700px) {
					font-size: 22px;
				}

				@media (max-width: 600px) {
					font-size: 18px;
				}

			}
		}

		.wp-block-image {
			width: 100%;
			margin: 20px 0px 0px 0px;

			figure {
				width: 100%;
				height: 100%;
				margin: 20px 0px 0px 0px;
			}

			& img {
					width: 100%;
					height: 100%;
				}
		}
	}

}