.blog-slider__section {
	@include flex (column, 40px, flex-start, flex-start);
	overflow-x: hidden;

	.__align-left {	
		align-items: flex-start;
		gap: 15px;
		color: #00235A;
		width: 100%;

		.__section-title {
			width: 50%;

			@media (min-width: 1000px) {
				width: 40%;
			}

			@media (min-width: 1500px) {
				width: 30%;
			}

			@media (max-width: 580px) {
				width: 60%;
				font-size: 20px;
			}

			@media (max-width: 425px) {
				width: 80%;
			}
		}
	}

	.sliders {
		display: grid;
		grid-auto-flow: column;
		column-gap: 30px;
		overflow-x: auto;
		overscroll-behavior-x: contain;
		scroll-snap-type: x mandatory;
		scrollbar-width: 100px;
		width: 100%;
		margin-left: auto;
		cursor: pointer;
		padding-bottom: 30px;
		padding-right: 20px;

		&::-webkit-scrollbar {
		  width: 2px;
		}

		&::-webkit-scrollbar-track {
		  background: transparent;
		}

		&::-webkit-scrollbar-thumb {
		  padding-left: 10px;
		}

		.box {
			width: 420px;
			scroll-snap-align: end;
			@include flex (column, 0px, center, center);
			filter: drop-shadow(0px 19px 33px rgba(111, 109, 113, 0.13));

			@media (min-width: 1400px) {
				width: 550px;
			}

			@media (min-width: 1900px) {
				width: 700px;
			}

			@media (max-width: 900px) {
				width: 350px;
			}

			@media (max-width: 600px) {
				width: 300px;
			}

			@media (max-width: 450px) {
				width: 250px;
			}

			.blog-post__image-container {
				width: 100%;
				height: 100%;

				img {
					height: 100%;
					width: 100%;
				}
			}

			.blog-post__information-container {
				@include flex (column, 10px, flex-start, flex-start);
				color: #00235A;
				background-color: #fff;
				padding: 15px;
				width: 100%;

				@media (min-width: 1900px) {
					padding: 30px;
				}

				.post__category {
					font-size: 16px;

					@media (min-width: 1500px) {
						font-size: 18px;
					}

					@media (max-width: 450px) {
						font-size: 14px;
					}

					& a {
						text-decoration: none;
					}
				}

				.post__title {
					a {
						font-size: 22px;
						text-decoration: none;

						@media (min-width: 1500px) {
							font-size: 24px;
						}

						@media (max-width: 600px) {
							font-size: 20px;
						}

						@media (max-width: 450px) {
							font-size: 18px;
						}
					}
				}

				.post__statistics {
					@include flex (row, 30px, flex-start, center);

					.statistic-info {
						@include flex (row, 10px, flex-start, baseline);
						margin-top: 10px;

						.statistic-icon {
							font-size: 22px;


							@media (min-width: 1500px) {
								font-size: 24px;
							}

							@media (min-width: 1900px) {
								font-size: 26px;
							}

							@media (max-width: 450px) {
								font-size: 20px;
							}

						}

						.statistic-number {
							font-size: 18px;

							@media (min-width: 1500px) {
								font-size: 20px;
							}

							@media (min-width: 1900px) {
								font-size: 24px;
							}

							@media (max-width: 450px) {
								font-size: 16px;
							}

						}
					}
				}
			}
		}
	}
}
