.charts {
  padding: 3rem 0%;

  @media (min-width: 1500px) {
    padding: 2rem 0%;
  }

  &__wrapper {
    @include flex (column, 40px, center, center);
    color: var(--color-primary);
  }

  &__align {
    text-align: center;

    .section__paragraph {
      max-width: 85%;
    }
  }

  &__container {
    width: 100%;
    @include flex (row, 1.25rem, center, center);
    flex-wrap: wrap;
  }

  &__box {
    position: relative;
    @include flex (column, 1.25rem, center, center);
  }

  &__diagram-content {
    position: relative;
    @include flex (row, 0px, center, center);
    width: 80%;
    margin: 0 auto;
    color: var(--color-primary);

  }

  &__value-container {
    position: absolute;
  }

  &__value-content {
    font-size: 3em;
    font-weight: var(--bold);
  }

  &__value-percentage {
    position: absolute;
    font-size: 1.75em;
    top: 1.125rem;
    right: -1.875rem;
    font-weight: var(--bold);
  }

  &__circular-chart {
    display: block;
    width: 100%;
    height: 100%;

    @keyframes progress {
      0% {
        stroke-dasharray: 0 100;
      }
    }
  }

  &__circle-bg {
    fill: none;
    stroke-width: 1.8;
    stroke: var(--color-base-near);

  }

  &__circle {
    fill: none;
    stroke-width: 1.8;
    animation: progress 1s ease-out forwards;
  }

  &__information {
    @include flex (column, 5px, center, center);
    color: var(--color-primary);

  }

  &__title {
    font-size: 1.125em;
    font-weight: var(--bold);
    text-transform: uppercase;
  }      

  &__subtitle {
    font-size: 1.125em;
    font-weight: var(--bold);
  }

  &__dark-pricing {
    color: var(--color-base);
    stroke: var(--color-base-near-transparent);
  }
}
