body.home .section-information.dark-theme,
body.home .chart.dark-theme,
body.home .chart .chart-container .circular-chart .circle-bg.dark-theme,
body.home .chart-information.dark-theme,
body.page-template-service .dark-theme,
body.page-template-service .chart.dark-theme,
body.page-template-service .chart .chart-container .circular-chart .circle-bg.dark-theme,
body.page-template-service .chart-information.dark-theme,
body.page-template-our-process .dark-theme,
body.page-template-our-process .chart.dark-theme,
body.page-template-our-process .chart .chart-container .circular-chart .circle-bg.dark-theme,
body.page-template-our-process .chart-information.dark-theme, {
      color: #00235A;
      stroke: #F5F5F5;
}

body.home .chart .value-container .value-percentage.dark-theme,
body.page-template-service .chart .value-container .value-percentage.dark-theme,
body.page-template-our-process .chart .value-container .value-percentage.dark-theme, {
  color: #FF5E14;
}


.projects-section {
  padding: 5% 0%;

  @media (min-width: 1500px) {
    padding: 2% 0%;
  }

  .projects-wraper {
    @include flex (column, 40px, center, center);
  }
}

.charts-wrapper {
  @include flex (row, 0px, center, center);
  flex-wrap: wrap;
  
  @media (max-width: 600px) {
    gap: 30px 10px;
  }

  .single-chart {
    width: 33%;
    position: relative;
    @include flex (column, 20px, center, center);

    @media (max-width: 600px) {
      width: 45%;
    }

    @media (max-width: 450px) {
      width: 100%;
    }

    .chart {
      position: relative;
      @include flex (row, 0px, center, center);
      width: 80%;
      margin: 0 auto;
      color: #FEFEFE;

      .value-container {
        position: absolute;

        .value-content {
          font-size: 52px;


          @media (max-width: 800px) {
            font-size: 40px;
          }

          @media (max-width: 450px) {
            font-size: 52px;
          }
        }

        .value-percentage {
          position: absolute;
          font-size: 25px;
          top: 20px;
          right: -30px;


          @media (max-width: 800px) {
            font-size: 18px;
            top: 15px;
            right: -23px;
          }

          @media (max-width: 450px) {
            font-size: 25px;
            right: -28px;
          }
        }
      }
      .chart-container {
        .circular-chart {
          display: block;
          width: 100%;
          height: 100%;

          .circle-bg {
            fill: none;
            stroke-width: 1.8;
            stroke: #F5F5F540;
          }

          .circle {
            fill: none;
            stroke-width: 1.8;
            animation: progress 1s ease-out forwards;
          }

          @keyframes progress {
            0% {
              stroke-dasharray: 0 100;
            }
          }
        }
      }
    }

    .chart-information {
      @include flex (column, 5px, center, center);
      color: #FEFEFE;

      .chart__title {
        font-size: 18px;

        @media (min-width: 1500px) {
          font-size: 24px;
        }

        @media (max-width: 800px) {
          font-size: 16px;
        }

        @media (max-width: 450px) {
          font-size: 20px;
        }
      }      

      .chart__subtitle {
        font-size: 16px;

        @media (min-width: 1500px) {
          font-size: 22px;
        }

        @media (max-width: 450px) {
          font-size: 18px;
        }
      }
    }
  }
}

