.contact-section {
	width: 100%;

	.contact-container {
		@include flex (column, 60px, flex-start, center);

		.form-information {
			color: #00235A;
		}

		.contact-section__image {
			width: 100%;
			height: 400px;
			background-color: #DDDDDD;

			@media (max-width: 600px) {
				height: 300px;
			}
		}

		.contact-form-container {
			width: 100%;
			@include flex (column, 130px, flex-start, center);

			@media (max-width: 500px) {
				gap: 65px;
			}

			.contact-form {
				width: 100%;
				@include grid (1fr 1fr, 0.5fr 2fr, 30px, center, center);

				@media (max-width: 500px) {
					@include grid (1fr, 0.5fr 0.5fr 2fr, 20px, center, center);
				}

				.user-info-container {
					@include flex (row, 0px, space-between, center);
					background-color: #F5F6FB;
					padding: 15px 25px;

					&.user-name__container {
						grid-column: 1/2;
						grid-row: 1/2;

						@media (max-width: 500px) {
							grid-column: 1/2;
							grid-row: 1/2;
						}
					}

					&.user-email__container {
						grid-column: 2/3;
						grid-row: 1/2;

						@media (max-width: 500px) {
							grid-column: 1/2;
							grid-row: 2/3;
						}
					}

					.form-icon {
						font-size: 20px;

						@media (min-width: 1500px) {
							font-size: 28px;
						}
					}

					&:focus-within {
						border: 3px solid #FF5E14;
					}


				} 

				textarea {
					grid-column: 1/3;
					grid-row: 2/3;
					background-color: #F5F6FB;
					color: #00235A;
					border: none;
					outline: none;
					padding: 25px;

					@media (min-width: 1500px) {
						font-size: 28px;
					}

					@media (max-width: 500px) {
						grid-column: 1/2;
						grid-row: 3/4;
					}

					&:focus {
						border: 3px solid #FF5E14;
					}
				}
			}

			.button-container {
				.submit-button  {
					padding: 15px 70px;
					font-size: 20px;

					@media (min-width: 1500px) {
						font-size: 24px;
					}

					@media (max-width: 500px) {
						padding: 15px 50px;
					}
				}
			}
		}
	}
}