.hero-section {
	width: 100%;
	height: 700px;
	@include flex (row, 0px, unset, stretch);
	background-color: #ddd;

	@media (max-width: 780px) {
		height: 600px;
	}

	&__home {
		justify-content: flex-end;

		@media (max-width: 530px) {
			height: 400px;
		}
	}

	&__about {
		justify-content: flex-start;

		@media (max-width: 530px) {
			height: 400px;
		}
	}

	&__service {
		justify-content: flex-start;
	}

	.hero-figure-container {
		width: 70%;
		@include flex (row, 0px, center, unset);
		display: flex;
		justify-content: center;

		.hero-figure__content {
			width: 60%;
			@include flex (column, 30px, center, flex-start);
			list-style-type: none;
			color: #FEFEFE;

			@media (max-width: 500px) {
				width: 70%;
			}
		}

		&.hero-home {
			clip-path: polygon(20% 0%,100% 0%,100% 100%,0% 100%);
			background-color: #00235A40;

			@media (max-width: 800px) {
				width: 100%;
				margin: 0;
				clip-path: unset;
			}

			#hero-figure__home {
				@media (min-width: 1700px) {
					width: 40%;
				}
			}
		}

		&.hero-about {
			clip-path: polygon(0% 0%,65% 0%,100% 100%,0% 100%);
			background-color: #00235A40;

			@media (max-width: 800px) {
				width: 100%;
				margin: 0;
				clip-path: unset;
			}

			#hero-figure__about {
				@media (min-width: 1900px) {
					margin-left: 15%;
				}

				@media (max-width: 1750px) {
					margin-left: 10%;
				}

				& p{
					width: 80%;
				}
			}
		}

		&.hero-service {
			clip-path: polygon(0% 0%,65% 0%,100% 100%,0% 100%);
			margin-top: -50px;
			justify-content: flex-start;

			@media (min-width: 1750px) {
				justify-content: center;
			}

			@media (max-width: 620px) {
				width: 80%;
			}

			@media (max-width: 800px) {
				width: 100%;
				margin: 0;
				clip-path: unset;
			}
		}

		& .hero-figure__service {
			gap: 20px;

			@media (min-width: 1900px) {
				margin-left: 15%;
			}

			@media (max-width: 1750px) {
				margin-left: 10%;
			}

			@media (max-width: 800px) {
				width: 80%;
				margin: 0 auto;
			}

			@media (max-width: 700px) {
				width: 90%;
				margin: 0 auto;
			}

			.__section-title {

				@media (min-width: 1100px) {
					width: 80%;
				}

				@media (max-width: 800px) {
					width: 70%;
				}

				@media (max-width: 620px) {
					font-size: 24px;
				}

				@media (max-width: 425px) {
					font-size: 22px;
					width: 80%;
				}
			}

			.figure__content-container {
				width: 100%;
				@include flex (column, 40px, flex-start, flex-start);
				margin-top: 20px;

				& .figure__content {
					display: flex;
					align-items: center;
					gap: 30px;

					@media (max-width: 620px) {
						gap: 20px;
					}
				}

				& .image-container {
					@include flex (row, 0px, center, center);

					@media (max-width: 800px) {
						width: 7%;
					}

					@media (max-width: 500px) {
						width: 10%;
					}


					img {
						@media (max-width: 1000px) {
							width: 100%;
						}
					}
				}

				& .figure__content-info {
					
					@media (max-width: 700px) {
						width: 70%;
					}

					.content-info__title {
						width: 100%;
						text-transform: uppercase;
						font-size: 18px;

						@media (min-width: 1500px) {
							font-size: 26px;
						}

						@media (max-width: 450px) {
							font-size: 16px;
						}
					}

					.content-info-paragraph {
						width: 90%;
						margin-block-start: 10px;
						font-size: 16px;


						@media (min-width: 1500px) {
							font-size: 24px;
						}

						@media (max-width: 450px) {
							font-size: 14px;
							width: 100%;
						}
					}
				}
			}

		}
	}
}