.partners-section {
	.partners-wraper {
		width: 90%;
		margin: 0 auto;
		background-image: url('../../../assets/src/images/w-card.png') ;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		height: 100%;
		overflow: hidden;
		@include flex (row, 0px, center, center);

		@media (max-width: 900px) {
			width: 100%;
		}

		@media (max-width: 600px) {
			background-size: contain;
		}

		.partnets-logo-container {
			width: 100%;
			@include grid (repeat(auto-fit, minmax(120px, 1fr)), unset, 0px, unset, unset);
			padding: 40px 0px;
		}
	}
}