.section-fullwidth {
	--section-padding: 5em 0;
	--section-padding-mobile: 3em 0;

	padding: var(--section-padding);

	@media (max-width: $media-breakpoint-medium) {
		padding: var(--section-padding-mobile);
	}
}

.inner-section {
	padding: 8rem 0%;

	@media (min-width: 1500px) {
		padding: 4rem 0%;
	}
}
