@font-face {
  font-family: "lato";
  src: url("../../src/fonts/Lato2OFL/Lato-Black.ttf") format("trueType");
  font-display: swap;
}

@font-face {
  font-family: "lato";
  src: url("../../src/fonts/Lato2OFL/Lato-Medium.ttf") format("trueType");
  font-display: swap;
}

@font-face {
  font-family: "lato";
  src: url("../../src/fonts/Lato2OFL/Lato-Light.ttf") format("trueType");
  font-display: swap;
}
