$media-breakpoint-largest: 88rem;
$media-breakpoint-large: 92rem;
$media-breakpoint-medium: 62rem;
$media-breakpoint-small: 50rem;
$media-breakpoint-mobile: 42rem;
$breakpoint-mobile-navigation: 42em;

// The place where all the global settings reside. We have more granular
// setting area after this, which covers heading sizes, paragraph sizes,
// spacings and other similar elements.

:root {
	// Colors:
	// ---------------------------------------------------------------------
	--color-primary: #00235A;
	--color-primary-darker: #00122F;
	--color-secondary: #FF5E14;

	// For most abstract names, base and invert are okay, because we are not
	// saying which is white or dark. In dark theme, the base is dark and it's'
	// invert would be white. Opposite for light theme.
	--color-base: #FEFEFE;
	--color-base-near: #F5F5F5;
	--color-base-near-transparent: #F5F5F540;
	--color-base-darker: #F5F6FB;
	--color-base-darkest: #DDDDDD;
	--color-base-transparent: rgba(245, 245, 245, 0.25);
	--color-base-invert: #00235A40;
	--color-base-invert-shadow: rgba(111, 109, 113, 0.13);


	// Layout
	// ---------------------------------------------------------------------
	--site-width-large: #{$media-breakpoint-large - 2};
	--site-width-medium: #{$media-breakpoint-medium - 2};
	--site-width-small: #{$media-breakpoint-small - 2};
	--site-width-mobile: #{$media-breakpoint-mobile - 2};

	--grid-gap: 2rem;
	--section-spacing: 4em;

	--spacing-s: 1em;
	--spacing-m: 1.5em;
	--spacing-l: 2em;
	--spacing-xl: 4em;
	--spacing-xxl: 8em;

	// Typography
	// ---------------------------------------------------------------------
	--font-primary: 'lato';
	--font-heading: var(--font-primary);

	--font-size-h1: 2.25em;
	--font-size-h2: 2em;
	--font-size-h3: 1.75em;
	--font-size-h4: 1.5em;
	--font-size-h5: 1.25em;
	--font-size-h6: 1em;

	--small: 400;
	--middle: 500;
	--semi-bold: 600;
	--bold: 700;

	// Others:
	// ---------------------------------------------------------------------
	--border-radius-small: 0.25em;
	--border-radius: 0.5em;
	--border-radius-large: 1em;

	@media (max-width: $media-breakpoint-small) {
		--grid-gap: 1rem;
	}
}
